*{
    margin:0;
    padding:0;
    user-select: none;
}
html{
    height:100%;
}
body {
    height:100%;
    font-family: Verdana,sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    
}
.sidenav{
    height: 100%;
    background-color:#034f84 ;
    width: 100%;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
.bar-section{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;

}
.bar-section:hover{
    background-color:#4c94c7 ;
}
.bar-section>img{
    margin-top: 20px;
    
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1500px;
}
.section{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-content{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.title{
    font-size: 32px;
    letter-spacing: 4px;
}
#s1,#s2,#s3{
    display: none;
}
.table{
    width: 100%;
    max-width: 800px;
}
.col{
    padding: 40px 0;
    text-align: center;
    border: 1px solid white;
    color: white;
    width: 100px;
    max-width: 100px;
    }
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.ambar{
    background-color: orange;
}
.green:hover{
    background-color: rgb(114, 170, 114);
}
.red:hover{
    background-color: rgb(252, 138, 138);
}
.ambar:hover{
    background-color: rgb(240, 198, 121);
}
.form-section{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    
}
.checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.textarea{
    width: 243px;
    height: 100px;
}
.form-button{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.form-button>button{
    background-color: #034f84;
    color: white;
    padding: 7px 17px;
    border:none;
    border-radius: 3px;
}
.form-button>button:hover{
    background-color: grey;
    color: black;
}
.form{
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.75);
}
.form-section>select{
    width: 50%
}
.Dashboard{
    width: 100%;
    max-width: 1024px;
    height: 608px;
    border: 3px solid #034f84;
    background-color: #034f84;
}
.CustomerEvolution{
    width: 1024px;
    border: 3px solid #034f84;
    border-width: 1px;
    
}
.CustomerAge{
    width: 49%;
    max-width: 1300px;
    justify-content: left;
    display: flex;
    height: 400px;
    float: left;
    border: 3.2px solid #034f84;

 }
.CustomerProvenance{
     float: left;
     width: 49.5%;
     height: 400px;  
     border: 3.2px solid #034f84;
     display: flex;
 }
 .muro{
    
     height: 800px;
     border-width: 1px;
     display: flex;
     width: 65%;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
 }
 .news{
    width: 100%;
    max-width: 1000px;
   
 }
 .col1{
    padding: 40px 0;
    text-align: center;
    border: 1px solid white;
    color: white;
    width: 100px;
    max-width: 100px;
    background-color: #034f84;
    
    }
.col1:hover{
    background-color: #4c94c7 ;
}
/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.popup-content {
    background-color: #fefefe;
    margin:5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 70%;
    margin-left: 420px;   
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.exit{
    align-items: center;
}
